@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>
<address>
    <strong>
        More informations, acess: 
    </strong>
    <a href="https://www.linkedin.com/in/jose-aderivan/">Linkedin</a>
</address>
<p><strong>Email: </strong> @ViewData["email"]</p>